<h1>グループ一覧</h1>

<% @groups.each do |group| %>
  <div>
    <p><strong>グループ名：</strong><%= group.name %></p>
  </div>

  <div>
    <%= link_to '確認', group_path(group.id), class: "btn btn-info" %>
  </div>

<% end %>