@import "bootstrap";
@import "timelines";
@import "boards";
@import "group";
@import "comments";

.footer {
  position: absolute;
  bottom: 0;
  width: 78%;
  height: 60px;
  background-color: none;
}


